.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.uploadContainer {
  width: 1200px;
  height: 700px;
}

.chooseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.totalPrograss {
  margin-top: 10px;
  width: 600px;
}

.fileChunkListPrograss {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}

.filePrograss {
  width: 600px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.buttonGroup button {
  margin-right: 10px;
}
